<%- include('../partials/header') %>

  <% if (courses.length) { %>
    <% courses.forEach(function(c) { %>
      <a class="more-details" href="/courses/<%= c._id %>">
        <section class="course-info" id="courses-home-page">
          <img src="<%= c.image %>">
          <div>
            <p>Holes: <strong>
                <%= c.holeCount %>
              </strong>
            </p>
          </div>
          <div>
            <p>Type: <strong>
                <%= c.courseType %>
              </strong>
            </p>
          </div>
          <div>
            <p>Rating: <strong>
                rating
              </strong>
            </p>
          </div>
          <h2>
            <%= c.name %>
          </h2>
          <div id="location">
            <p>location: <strong>
                <%= c.location %>
              </strong>
            </p>
          </div>
        </section>
      </a>
      <% }) %>
        <% } else { %>
          <h3>No Courses Contributed</h3>
          <% } %>
            <%- include('../partials/footer') %>