<%- include('../partials/header') %>

<form id="edit-review-form" action="/reviews/<%= review._id %>?_method=PUT" method="POST">
  <label>Review:</label>
  <textarea name="content"><%= review.content %></textarea><br>
  <label>Overall Rating:</label>
  <select name="overallRating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select><br>
  <label>Course Difficulty:</label>
  <select name="difficulty">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select><br>
  <label>Course Condition:</label>
  <select name="condition">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select><br>
  <label>Image URL:</label>
  <input type="text" name="image" value="<%= review.image %>">
  <br>
  <button type="submit">Submit Review</button>
</form>

<%- include('../partials/footer') %>