<%- include('../partials/header') %>
<br>
<section>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Review</th>
        <th>Overall Rating</th>
        <th>Course Difficulty</th>
        <th>Overall Condition</th>
      </tr>
    </thead>
    <tbody>
      <tr class="review-content">
        <td class="review-user"><img src="<%= review.userAvatar %>" alt="avatar" referrerpolicy="no-referrer">&nbsp;
          <h3>
            <%= review.userName %>
          </h3>
        </td>
        <td>
          <%= review.createdAt.toLocaleDateString() %>
        </td>
        <td>
          <%- review.content.replaceAll('\n', '<br>' ) %>
        </td>
        <td>
          <%= review.overallRating %>⭐️
        </td>
        <td>
          <%= review.condition %>⭐️
        </td>
        <td>
          <%= review.difficulty %>⭐️
        </td>
      </tr>
    </tbody>
  </table>
  <div class="show-review-image">
    <img src="<%= review.image %>">
  </div>
</section><br><br>

<h2>Comments:</h2><br>
<section class="comments-show">
  <% if (review.comments.length) { %>
  <% review.comments.forEach(function(c) { %>
  <div class="comment-user"><img style="display: inline;" src="<%= review.userAvatar %>" alt="avatar" referrerpolicy="no-referrer">
  </div>
  <div id="user-name">
    <h3 style="display: inline;">
      <%= review.userName %>
    </h3>
  </div>
  <div id="content">
    <p>
      <%- c.content.replaceAll('\n', '<br>' ) %>
    </p>
  </div>
  <div class="v-e-d">
    <% if (user && c.user.equals(user._id)) { %>
    <a href="/reviews/<%= review._id %>/comments/<%= c._id %>/edit">Edit</a> |
    <form action="/reviews/<%= review._id %>/comments/<%= c._id %>?_method=DELETE" method="POST"><button type="submit">Delete</button></form>
    <% } %>
  </div>&nbsp;&nbsp;
  <% }) %>
  <% } else { %>
  <p><strong>No Comments</strong></p>
  <% } %>
</section><br><br>

<section>
  <form id="comments-form" action="/reviews/<%= review._id %>/comments" method="POST">
    <textarea name="content"></textarea>
    <button type="submit">Add Comment</button>
  </form>
</section>
<%- include('../partials/footer') %>